<footer class="footer  py-3 mt-auto text-center">
    <div class="container">
        <span class="footer-text">&copy; RJ's BBQ Truck 2022 &nbsp;-&nbsp; Web design by <a class="designLink"
                href="https://github.com/zacjohnson333">Zac Johnson</a></span>
    </div>
</footer>