<nav class="navbar sticky-top navbar-expand-lg navbar-dark ">
    <!--navbar-dark bg-dark-->
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">
            <img src="images/RJ_Icon.png" alt="" width="75" height="75" class="d-inline-block align-text-center">
            <strong id="strongText">&nbsp;RJ's BBQ Truck</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link h4" href="/">&nbsp;Home&nbsp;</a>
                <a class="nav-link h4" href="/menu">Menu&nbsp;</a>
                <a class="nav-link h4" href="/catering">Catering&nbsp;</a>
                <a class="nav-link h4" href="/story">Our Story&nbsp;</a>
                <a class="nav-link h4" href="/next">Next Stop&nbsp;</a>
                <a class="nav-link h4" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</nav>