.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#map {
    width: 100%;
    height: 300px;
}

.navbar {
    background-color: #F77F00;
}

.nav-link {
    color: #6F1A07;
}
navbar-brand {
    color: #6F1A07;
}
