@font-face {
    font-family: 'empera';
    src: url('../fonts/empera-regular-webfont.woff2') format('woff2'),
         url('../fonts/empera-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'palmer-lake-print';
    src: url('../fonts/Fonts/PalmerLakePrint-Regular.woff2') format('woff2'),
         url('../fonts/Fonts/PalmerLakePrint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#map {
    width: 100%;
    height: 300px;
}

/* General font styling */
h1 {
    font-family: 'palmer-lake-print', sans-serif;
    font-size: 5rem;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: 'palmer-lake-print', sans-serif;
    font-size: 2.5rem;
}

p, .btn {
    font-family: 'Ubuntu', sans-serif;
}

/* PARTIALS STYLING */
.navbar {
    background-color: #F77F00;
}

.navbar-brand {
    display: flex;
}

strong {
    font-family: 'empera', sans-serif;
    font-size: 3.5rem;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: white;
}

.navbar-nav a {
    font-family: 'palmer-lake-print';
    font-size: 2.5rem;
}

.footer-text {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}

#btn-back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 2.5rem;
    z-index: 1;
    display: none;
    background-color: #F77F00;
    border-color: #F77F00;
  }

.footer {
    background-color: #F77F00;
}

.footer-text {
    color: white;
}

.designLink {
    color: white;
    text-decoration: none;
}

.designLink:hover {
    text-decoration: underline;
    color: white;
}

/* STORY STYLING */
.story {
    text-indent: 10%;
}

/* NEXT STYLING */
li {
    font-family: 'Ubuntu', sans-serif;
}

/* CONTACT STYLING */
#contact-form {
    font-family: 'Ubuntu', sans-serif;
}

/* SCREEN CHANGE STYLING */
@media screen and (max-width: 768px){
    #lisaStory {
        margin-left: 1.5rem;
    }
    
}

@media screen and (max-width: 768px){
    .footer, .navbar {
        width: 100%;
    }
    
}

@media (max-width: 414px) {
    .navbar-brand strong {
        font-size: 2.5rem;
        padding-top: 1rem;
    }
}