@font-face {
    font-family: 'empera';
    src: url('../fonts/empera-regular-webfont.woff2') format('woff2'),
        url('../fonts/empera-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'palmer-lake-print';
    src: url('../fonts/Fonts/PalmerLakePrint-Regular.woff2') format('woff2'),
        url('../fonts/Fonts/PalmerLakePrint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#map {
    width: 100%;
    height: 300px;
}

/* General font styling */
h1 {
    font-family: 'palmer-lake-print', sans-serif;
    font-size: 5rem;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-family: 'palmer-lake-print', sans-serif;
    font-size: 2.5rem;
}

p,
.btn {
    font-family: 'Ubuntu', sans-serif;
}

/* PARTIALS STYLING */
.navbar {
    background-color: #f36b21;
}

.navbar-brand {
    display: flex;
}

strong {
    font-family: 'empera', sans-serif;
    font-size: 3.5rem;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    color: white;
}

.navbar-nav a {
    font-family: 'palmer-lake-print';
    font-size: 2.5rem;
}

.footer-text {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}

#btn-back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 2.5rem;
    z-index: 1;
    display: none;
    background-color: #f36b21;
    border-color: #f36b21;
}

.footer {
    background-color: #f36b21;
}

.footer-text {
    color: white;
}

.designLink {
    color: white;
    text-decoration: none;
}

.designLink:hover {
    text-decoration: underline;
    color: white;
}

/* CATERING STYLING */
.cateringImgs {
    height: 400px;
    width: auto;
    object-fit: cover;
}

#cateringContactBtn {
    background-color: #f36b21;
    color: white;
    border-color: #f36b21;
    font-family: 'palmer-lake-print', sans-serif;
    font-size: 2rem;
}

#cateringContactBtn:hover {
    background-color: white;
    color: #f36b21;
}

/* STORY STYLING */
.story {
    text-indent: 10%;
}

/* NEXT STYLING */
li {
    font-family: 'Ubuntu', sans-serif;
}

/* CONTACT STYLING */
#contact-form {
    font-family: 'Ubuntu', sans-serif;
}

#sendBtn {
    background-color: #f36b21;
    color: white;
    border-color: #f36b21;
    font-family: 'palmer-lake-print';
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

#sendBtn:hover {
    background-color: white;
    color: #f36b21;
}

/* SCREEN CHANGE STYLING */
@media screen and (max-width: 768px) {
    #lisaStory {
        margin-left: 1.5rem;
    }

}

@media screen and (max-width: 768px) {

    .footer,
    .navbar {
        width: 100%;
    }

}

@media (max-width: 415px) {
    .navbar-brand strong {
        font-size: 2.5rem;
        padding-top: 1rem;
    }

    #cateringTitle {
        font-size: 3.5rem;
    }

    #nextTitle {
        font-size: 2.5rem;
    }

    #nextSubtitle {
        font-size: 1rem;
    }

    #locationCard {
        width: 20rem;
    }

    .carousel {
        margin-bottom: 2rem;
    }

    .cateringImgs {
        height: 300px;
    }

    #contactForm {
        max-width: 90%;
    }
}