@font-face {
    font-family: 'empera';
    src: url('../fonts/empera-regular-webfont.woff2') format('woff2'),
         url('../fonts/empera-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'palmer-lake-print';
    src: url('../fonts/Fonts/PalmerLakePrint-Regular.woff2') format('woff2'),
         url('../fonts/Fonts/PalmerLakePrint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/20210530_144558.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 60vw;
}

h1 {
    font-family: 'empera', sans-serif;
    font-size: 3.5rem;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: white;
}

img {
    max-width: 16rem;
    margin-bottom: 1rem;
}

nav {
    font-family: 'palmer-lake-print';
    font-size: 2rem;
    /* display: flex; */
}

#homeTextContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
}

#homeText {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    color: white;
    display: inline-block;
    padding: 1rem;
}

.btn {
    background: orange;
    border-color: orange;
    font-family: 'empera';
    text-shadow: none;
}

.btn:hover {
    background: white;
    color: orange;
}

.fa-instagram {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: white;   
}

.fa-instagram:hover {
    color: orange;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 123, 0, 0.808);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 123, 0, 0.808);
    border-bottom-color: rgba(255, 123, 0, 0.808);
}

.nav-link.active{
    color: white;
    border-bottom-color: white;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}

.designLink {
    color: grey;
    text-decoration: none;
}

.designLink:hover {
    text-decoration: underline;
    color: grey;
}

img {
    display: none;
}

@media (max-width: 414px) {
    h1 {
        font-size: 2rem;
    }
    nav {
        line-height: 1rem;
    }
    #homeText {
        font-size: 0.75rem;
    }
    img {
        display: inline-block;
        max-height: 6rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .cover-container {
        max-width: 75vw;
    }
}