<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-3 text-center">
            <h1>Whoops!</h1>
            <p>Looks like something went wrong. Please try again!</p>
            <div class="text-center">
                <a class="btn btn-lg btn-info" href="/contact">Contact Us</a>
            </div>
        </div>
    </div>