<% layout('/layouts/boilerplate') %>

    <div class="row">
        <div class="col-md-6 offset-3">
            <h3 class="text-center mb-4">Need to reach us? Fill out the form below</h3>
            <div class="mb-3">
                <label for="name" class="form-label">First & Last Name</label>
                <input type="text" class="form-control" id="name" placeholder="John Doe">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="f1ng3r_l1ck3n@g00d.com">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone number</label>
                <input type="tel" class="form-control" id="phone" placeholder="(555)555-5555">
                <!-- pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" -->
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-success">Submit</button>
        </div>
    </div>