<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-3 text-center">
            <h1>Thank you!</h1>
            <p>We will get back to you as soon as we can.</p>
            <div class="text-center">
                <a class="btn btn-lg btn-success" href="/">Home</a>
            </div>
        </div>
    </div>