<% layout('/layouts/boilerplate') %>
    <h1 id="menuTitle">RJ's BBQ Menu</h1>
    <hr>
    <section id="menuContainer">
        <div id="meatContainer">
            <div id=meatTitle>
                <h2>Smoked Meat Options</h2>
            </div>
            <div id="pulledPork">
                <div class="meatName">Pulled Pork</div>
                <div class="meatDivider"></div>
                <div class="meatText">Pork shoulder smoked low 'n slow until tender and juicy with RJ's special spice
                    mix. A BBQ staple nation-wide.
                </div>
            </div>
            <div id="pulledChicken">
                <div class="meatName"> Charlie's Pulled Chicken</div>
                <div class="meatDivider"></div>
                <div class="meatText">
                    Since it was so good, we continue to use Charlie's original receipt for our pulled chicken. In RJ's
                    opinion, this goes best with our Carolina Gold sauce.
                </div>
            </div>
            <div id="beefBrisket">
                <div class="meatName">RJ's Brisket</div>
                <div class="meatDivider"></div>
                <div class="meatText">Melt in your mouth brisket. A staff favorite that usually sells out first! It has
                    a great bark that will bring you back for more.
                </div>
            </div>
            <div id="ribs">
                <div class="meatName">St. Louis-Style Ribs</div>
                <div class="meatDivider"></div>
                <div class="meatText">We use a dry rub for our STL-inspired rack o' ribs. But don't let that stop you
                    from smothering 'em with RJ's BBQ sauce!
                </div>
            </div>
            <div id="hotLinks">
                <div class="meatName">Hot Links</div>
                <div class="meatDivider"></div>
                <div class="meatText">These smoked sausages are made with a combo of pork and beef so you can have the
                    best of both worlds. Each bite has a helpin' of cheddar and jalapeno for a little kick.
                </div>
            </div>
            <div id="ribTips">
                <div class="meatName">Rib Tips</div>
                <div class="meatDivider"></div>
                <div class="meatText">These smaller, meaty morsels are smoked same as our ribs but are even juicier!
                    They have a little more bone but are worth the effort.
                </div>
            </div>
        </div>
        <div id="sandwichBasketContainer">
            <div id="sandwichTopContainer">
                <div class="topName">
                    Sandwich
                </div>
                <div class="topText">
                    1/3 lb smoked meat on a brioche bun with a pickle spear
                </div>
            </div>
            <div id="sandwichBottomContainer">
                <div id="chickSand" class="optionPadding bottomBorder">
                    Charlie's Pulled Chicken
                </div>
                <div id="porkSand" class="optionPadding bottomBorder">
                    Pulled Pork
                </div>
                <div id="brisketSand" class="optionPadding bottomBorder">
                    RJ's Brisket
                </div>
                <div id="linkSand" class="optionPadding">
                    Hot Links
                </div>
            </div>
            <div id="basketTopContainer">
                <div class="topName">
                    Basket
                </div>
                <div class="topText">
                    Includes a sandwich, pickle spear, & 2 sides
                </div>
            </div>
            <div id="basketBottomContainer">
                <div id="chickBask" class="optionPadding bottomBorder">
                    Charlie's Pulled Chicken
                </div>
                <div id="porkBask" class="optionPadding bottomBorder">
                    Pulled Pork
                </div>
                <div id="brisketBask" class="optionPadding bottomBorder">
                    RJ's Brisket
                </div>
                <div id="ribBask" class="optionPadding bottomBorder">
                    St. Louis-Style Ribs (1/2 slab)
                </div>
                <div id="linkBask" class="optionPadding bottomBorder">
                    Hot Links
                </div>
                <div id="ribTipBask" class="optionPadding">
                    Rib Tips
                </div>
            </div>
        </div>
        <div id="samplerSpecialsContainer">
            <div id="samplerTopContainer">
                <div class="topName">
                    Sample Platter
                </div>
                <div class="topText">
                    <!-- empty for now -->
                </div>
            </div>
            <div id="samplerBottomContainer">
                <div id="samplerText" class="optionPadding">
                    Includes 3 meats of your choice (see <a href="#meatContainer" id="meatLink">Smoked Meat
                        Options</a>)
                    <div id="samplerTextBorder"></div>
                </div>
            </div>
            <div id="specialsTopContainer">
                <div class="topName">
                    Specials
                </div>
                <div class="topText">
                    <!-- empty for now -->
                </div>
            </div>
            <div id="specialsBottomContainer">
                <div id="mac" class="optionPadding bottomBorder">Large Mac & Cheese</div>
                <div id="superMac" class="optionPadding bottomBorder">Super Mac (mac & cheese w/ 1 meat)</div>
                <div id="cowboy" class="optionPadding">Cowbow Fries (fries topped w/ Mac & Cheese and 1 meat)</div>
            </div>
        </div>
        <div id="looseSidesContainer">
            <div id="looseMeatTopContainer">
                <div class="topName">Loose Meat</div>
                <div class="topText">Sold by the pound</div>
            </div>
            <div id="looseMeatBottomContainer">
                <div id="loosePork" class="optionPadding bottomBorder">Pulled Pork</div>
                <div id="looseChick" class="optionPadding bottomBorder">Charlie's Pulled Chicken</div>
                <div id="looseBrisk" class="optionPadding bottomBorder">RJ's Brisket</div>
                <div id="looseRibs" class="optionPadding bottomBorder">St. Louis-Style Ribs</div>
                <div id="looseLinks" class="optionPadding bottomBorder">Hot Links</div>
                <div id="looseRibTips" class="optionPadding">Rib Tips</div>
            </div>
            <div id="sidesTopContainer">
                <div class="topName">Sides</div>
                <div class="topText">
                    <!-- nothing yet -->
                </div>
            </div>
            <div id="sidesBottomContainer">
                <div id="beans" class="optionPadding bottomBorder">Baked Beans</div>
                <div id="fries" class="optionPadding bottomBorder">French Fries</div>
                <div id="sideMac" class="optionPadding bottomBorder">Mac & Cheese</div>
                <div id="coleslaw" class="optionPadding bottomBorder">Coleslaw</div>
                <div id="potatoSalad" class="optionPadding bottomBorder">Potato Salad</div>
                <div id="cornbread" class="optionPadding">Cornbread</div>
            </div>
        </div>
        </div>
    </section>