<% layout('/layouts/boilerplate') %>
    <h1>RJ's BBQ Menu</h1>
    <ul>
        <%for (let item of items) {%>
            <li>
                <%=item.name%>
            </li>
            <%}%>
    </ul>