<% layout('/layouts/boilerplate') %>
    <h1 class="text-center sm-3">Our Story...</h1>
    <div class="row">
        <div class="row align-items-center mb-3">
            <div class="col"></div>
            <div class=" col-md-5 offset-1">
                <p class="d-flex story lh-lg">"I started smoking fish, turkey, beef sticks, and wild game back in 1975
                    with my old man. I remember my dad waking me up at the crack of dawn to get the smoker runnin’.
                    While I would have rather slept in back then, it taught me the importance of putting in the time
                    and care when smoking meats. Every time I fire up my own smoker I think of Dad and all that he
                    taught me, and not just about smoking. I have always loved cooking for large groups of people and
                    now, with our big orange trailer, I can share my cookin’ with even more people! It’s been a lot of
                    hard work but also a lot of fun. We hope you like it as much as we do." &nbsp;&nbsp;-Randy
                </p>
            </div>
            <div class="col-md-5">
                <div class="card offset-1" style="width: 24rem;">
                    <!-- <img src="/images/people/dad0.jpg" class="card-img-top img-fluid" alt="..."> -->
                    <figure class="figure">
                        <img src="/images/people/dad1.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
                        <figcaption class="figure-caption text-center">Randy Johnson</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center my-3">
            <div class="col-md-5 offset-1">
                <div class="card" style="width: 24rem;">
                    <!-- <img src="/images/lisa.jpg" class="card-img-top" alt="..."> -->
                    <figure class="figure">
                        <img src="/images/people/lisa0.jpg" class="figure-img img-fluid rounded card-img-top" alt="...">
                        <figcaption class="figure-caption text-center">Lisa Johnson</figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-5" id="lisaStory">
                <p class="d-flex story lh-lg">"I was raised in the restaurant business. I have fond childhood memories
                    of
                    sitting on the prep table and
                    rolling meatballs and the excitement of pushing the big red button on the dishwasher. On busy days I
                    was very happy when my mom would put me in a corner with a cup, spoon and can of whipped cream.
                    Randy and I married in 2016. Randy proposed a BBQ food truck in 2021 as a fun job to do once he
                    “retired”. I was all in. I feel like I am following in my mom’s footsteps when fine tuning the mac
                    and
                    cheese and cornbread recipes. Preparing food is an expression of art and love. We hope you love our
                    food. Thank you for your patronage!" -Lisa</p>
            </div>
            <div class="col"></div>

        </div>