<% layout('/layouts/boilerplate') %>
    <h1 class="text-center sm-3">Our Story...</h1>
    <div class="row">
        <div class="row align-items-center mb-3">
            <div class="col"></div>
            <div class=" col-md-5 offset-1">
                <p class="d-flex story">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
                    impedit magni
                    fuga
                    aperiam vitae!
                    Aspernatur molestiae voluptatibus cupiditate numquam voluptas quae, quibusdam ab optio alias et
                    nostrum
                    ducimus architecto ipsam!
                    Id molestiae dolor unde ex! Iusto commodi praesentium dolor atque saepe labore veniam aliquid
                    corporis
                    molestias doloribus, sunt amet blanditiis? Illum, ab. Pariatur, ad saepe sint odit dolore libero
                    dolores!
                    At alias non excepturi voluptatem illum a maiores facilis eaque ex, amet ea dolorem itaque
                    voluptatibus,
                    quae id veniam aperiam distinctio, eius temporibus. Id officiis aperiam velit reiciendis. Dicta,
                    minus!
                    Corporis a, numquam consectetur laudantium mollitia illo omnis error aspernatur quo ab saepe quae
                    quaerat minus velit facere molestiae fugiat ut? Ducimus quidem, ratione labore aliquam eaque
                    veritatis.
                    Dicta, possimus?
                </p>
            </div>
            <div class="col-md-5">
                <div class="card offset-1" style="width: 24rem;">
                    <img src="/images/people/dad0.jpg" class="card-img-top img-fluid" alt="...">
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center my-3">
            <div class="col-md-5 offset-1">
                <div class="card" style="width: 24rem;">
                    <img src="/images/lisa.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-5" id="lisaStory">
                <p class="d-flex story">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt impedit magni
                    fuga
                    aperiam vitae!
                    Aspernatur molestiae voluptatibus cupiditate numquam voluptas quae, quibusdam ab optio alias et
                    nostrum
                    ducimus architecto ipsam!
                    Id molestiae dolor unde ex! Iusto commodi praesentium dolor atque saepe labore veniam aliquid
                    corporis
                    molestias doloribus, sunt amet blanditiis? Illum, ab. Pariatur, ad saepe sint odit dolore libero
                    dolores!
                    At alias non excepturi voluptatem illum a maiores facilis eaque ex, amet ea dolorem itaque
                    voluptatibus,
                    quae id veniam aperiam distinctio, eius temporibus. Id officiis aperiam velit reiciendis. Dicta,
                    minus!
                    Corporis a, numquam consectetur laudantium mollitia illo omnis error aspernatur quo ab saepe quae
                    quaerat minus velit facere molestiae fugiat ut? Ducimus quidem, ratione labore aliquam eaque
                    veritatis.
                    Dicta, possimus?
                    Praesentium amet reprehenderit omnis impedit doloribus tenetur voluptas quasi recusandae numquam
                    aspernatur, quos minus iusto eligendi, repellendus provident dolores consequatur dolor eveniet
                    aliquid
                    quae, nobis et! In ratione numquam reprehenderit?Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Neque unde quibusdam eaque consequatur ipsam dolorem, sit accusamus! Repellat iusto, totam,
                    deleniti exercitationem mollitia ad aliquid pariatur provident officiis possimus laudantium!</p>
            </div>
            <div class="col"></div>

        </div>